html {
    box-sizing: border-box;
}

* {
    font-family:'Courier New', Courier, monospace ;
    font-size: small;
}

body {
    background-color: rgb(39, 34, 34);
}

.text {
    margin-left: 100px;
    margin-right: 100px;
}
h1, h2 {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: blue;
    border: 2px solid blue;
    padding: 15px;
    margin-left: 205px;
    margin-right: 205px;
}

h2 {
    font-style: italic;
}

.class1{
    color: aquamarine ;
}

/* Provides markup to class 2 within class 1 */
.class1 .class2{
    color: blueviolet;
}

/* provides markup to specific combination of classes, span is inline element */
.class1.class2 {
    color: red;
    display: inline;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

img{
    height: 500px;
    width: auto;
}

.imagetext {
    font-size: small;
    font-style: italic;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: 730px;
}

.Yellow{
    color: yellow;
    background-color: black;
}

.Bold{
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
}

.position {
 position: relative;
 top: 40px; left: -40px;
}


.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
  }
  
  #two {
    position: relative;
    top: 20px;
    left: 20px;
    background: blue;
  }

  .centerbl {
      position: relative;
      left: 500px;
  }

  .next {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; 
      /* where items sit on cross axis, default is stretch */
      justify-content: space-around;
      /* where items sit on cross axis */
      height: 200px;
      width: auto;
      border-color: purple;
      border-style: dashed;

/* flex-wrap: auto wrapping, flex size of the width of the box */
  }

  .threeblock1 {
      border-color: blue;
      border-style: dashed;
      text-align: center;
      margin: 10px;
      flex: 1 
  }

  .threeblock2 {
    border-color: blue;
    border-style: dashed;
    text-align: center;
    margin: 10px;
    flex: 1 
}

.threeblock3 {
    border-color: blue;
    border-style: dashed;
    text-align: center;
    margin: 10px;
    order: -2;
    flex: 1
    /* alligns on cross axis */

}

section {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

article {
    border-style: dashed;
    border-color: yellow;
}

.art {
    flex: 1 200px;
    margin: 10px;
}

.art3 {
    flex: 3 200px;
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.art1, .art3 {
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }